{% extends 'base.html' %}

{% block content %}
    <div class='about-me middle'>
        <p>I am a software developer in Seattle, currently seeking a career in game developer or as a backend engineer in the United States. I always had an interest in the world of programming but didn't end up pursuing it until August of 2017 when I began attending Code Fellows, an intensive coding boot camp aimed cramming 4+ years of college into your mind in 5 months.</p>
    <br>
        <p>After graduating with a certificate in Advanced Software Development in Python I spent some time messing around on little projects using Python before deciding I wanted to move more towards game development, something I've wanted to do for a long time, and started teaching myself C# and development using Unity.</p>
    </div>
{% endblock %}