<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/c_mon9.png') }}">
    <title>Cody's Portfolio</title>
</head>
<body>
    <div class='navbar'>
        <nav>
            {% if request.path == '/' %}
                <a href="{{ url_for('about_view') }}">About Me</a>
                <a href="{{ url_for('projects_view') }}">Projects</a>
                <a href="{{ url_for('contact_view') }}" class='contact-view'><p class='fade'>Contact Me</p><i class="fa fa-address-book-o" aria-hidden="true"></i></a>
            {% elif request.path == '/about' %}
                <a href="{{ url_for('home_view') }}">Home</a>
                <a href="{{ url_for('projects_view') }}">Projects</a>
                <a href="{{ url_for('contact_view') }}">Contact</a>
            {% elif request.path == '/projects' %}
                <a href="{{ url_for('home_view') }}">Home</a>
                <a href="{{ url_for('about_view') }}">About Me</a>
                <a href="{{ url_for('contact_view') }}">Contact</a>
            {% elif request.path == '/contact' %}
                <a href="{{ url_for('home_view') }}">Home</a>
                <a href="{{ url_for('about_view') }}">About Me</a>
                <a href="{{ url_for('projects_view') }}">Projects</a>
            {% endif %}
        </nav>
    </div>

    {% block content %}{% endblock %}

    <footer>
        <div>
            <img src="{{ url_for('static', filename='img/c_mon2.png') }}" class='footer-image'>
        </div>
    </footer>
</body>
<script src="{{ url_for('static', filename='js/app.js') }}"type="text/javascript"></script>
</html>