{% extends 'base.html' %}

{% block content%}
    <div class='contact-info'>
        <p>Feel free to contact me with <strong>any</strong> questions.</p>
        <hr>
        <a href="mailto:hcodydibble@gmail.com">hcodydibble@gmail.com</a>
        <div class='social-media'>
            <a href="https://www.linkedin.com/in/codydibble" target='_blank' class="fa fa-linkedin"></a>
            <a href="https://github.com/hcodydibble" target='_blank' class="fa fa-github"></a>
        </div>
    </div>
{% endblock %}