<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/reset.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <title>Cody's Portfolio</title>
</head>
<body>
    <nav>
        <div class='navbar'>
            <a href="/">Home</a>
            <a href="#">Projects</a>
            <a href="#">Contact</a>
        </div>
    </nav>

    <div>
        <h1>Cody Dibble</h1>
        <h3>Full stack Developer | Pythonista | Gaming enthusiasist</h3>
    </div>
</body>
</html>