{% extends 'base.html' %}

{% block content %}
    <div class='projects'>

        <div class='project-detail'>
            <div class='project-info'>
                <a href="{{ url_for('game_view') }}">Knight Defense</a>
                <p>March 2018</p>
                <hr>
                <img src="{{ url_for('static', filename='img/knightdefense.png') }}" class='project-img'>
                <p id='description'>Small defense game I created while learning game development in Unity. Take control of the Knight faction to defend yourself from the attacking Samurai</p>
                <hr>
                <p>-- Stack --</p>
                <p>C# <i class="fa fa-plus-circle" aria-hidden="true"></i> Unity
            </div>
        </div>

        <hr>

        <div class='project-detail'>
            <div class='project-info'>
                <a>Pokedex</a>
                <p>February 2018</p>
                <hr>
                <img src="{{ url_for('static', filename='img/php-pokedex.png') }}" class='project-img'>
                <p id='description'>Little Pokedex I made to learn and practice using PHP.</p>
                <hr>
                <p>-- Stack --</p>
                <p>PHP <i class="fa fa-plus-circle" aria-hidden="true"></i> HTML/CSS</p>
            </div>
        </div>

        <hr>

        <div class='project-detail'>
            <div class='project-info'>
                <a href="http://ec2-34-215-7-234.us-west-2.compute.amazonaws.com/" target='blank'>Cryptomonsters</a>
                <p>December 2017</p>
                <hr>
                <img src="{{ url_for('static', filename='img/cryptocards.png') }}" class='project-img'>
                <p id='description'>Have you ever wanted to own your own monster horde? Cryptomonsters is a card collecting app that uses blockchain technology to let users 'mine' for monsters with unique attributes.</p>
                <hr>
                <p>-- Stack --</p>
                <p>Python <i class="fa fa-plus-circle" aria-hidden="true"></i> Django <i class="fa fa-plus-circle" aria-hidden="true"></i> Bootstrap <i class="fa fa-plus-circle" aria-hidden="true"></i> AWS</p>
            </div>
        </div>

        <hr>

        <div class='project-detail'>
            <div class='project-info'>
                <a href="http://close-encounters.herokuapp.com/" target='blank'>Space Rocks</a>
                <p>November 2017</p>
                <hr>
                <img src="{{ url_for('static', filename='img/spacerocks.png') }}" class='project-img'>
                <p id='description'>Space Rocks is a data visualization site for the NASA N.E.O (Near Earth Objects) API in an attempt to make information, like what's floating above us, easily accessible and fun to look at.</p>
                <hr>
                <p>-- Stack --</p>
                <p>Python <i class="fa fa-plus-circle" aria-hidden="true"></i> Pyramid <i class="fa fa-plus-circle" aria-hidden="true"></i> Bokeh <i class="fa fa-plus-circle" aria-hidden="true"></i> PostgreSQL <i class="fa fa-plus-circle" aria-hidden="true"></i> HTML5 <i class="fa fa-plus-circle" aria-hidden="true"></i> CSS</p>
            </div>
        </div>

        <hr>

        <div class='project-detail'>
            <div class='project-info'>
                <a href="http://report-my-wreck.herokuapp.com/" target='blank'>Report My Wreck</a>
                <p>October 2017</p>
                <hr>
                <img src="{{ url_for('static', filename='img/collisionreport.png') }}" class='project-img'>
                <p id='description'>A website for anyone who has ever been in an accident. Easily recreate the accident and send an email off to your insurance rep.</p>
                <hr>
                <p>-- Stack --</p>
                <p>JavaScript <i class="fa fa-plus-circle" aria-hidden="true"></i> jQuery <i class="fa fa-plus-circle" aria-hidden="true"></i> Express <i class="fa fa-plus-circle" aria-hidden="true"></i> Node.js <i class="fa fa-plus-circle" aria-hidden="true"></i> HTML5 <i class="fa fa-plus-circle" aria-hidden="true"></i> CSS</p>
            </div>
        </div>

    </div>
{% endblock %}